{
  "extends": ["taro", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "prettier/prettier": ["error"],
    "import/first": 0,
    "import/prefer-default-export": 0
  },
  "parser": "babel-eslint"
}
