.index-wrapper {
  margin: 24px;
  text-align: center;
  .content {
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 75px;
      margin: 0 auto;
      overflow: hidden;
    }
    .nickname {
      margin-top: 12px;
    }
  }
}
