.background-wrapper {
  position: fixed;
  top: 0;
  z-index: -1;
}

.title-wrapper {
  color: #fff;
  text-align: center;
  margin: 168rpx 0;
}

.title {
  font-size: 86rpx;
  margin-bottom: 24rpx;
}

.sub-title {
  font-size: 28rpx;
}

.form-wrapper {
  margin: 32rpx;
}

.input {
  height: 80rpx;
  margin: 32rpx 0;
  padding: 0 18rpx;
  font-size: 28rpx;
  line-height: 60rpx;
  border: 1rpx solid;
  border-radius: 10rpx;
  background-color: rgba(255, 255, 255, 0.3);
}

.input-placeholder {
  color: #fff;
}
